<header>
  <a href="#"><img src="assets/logo.png"></a>
  <nav [ngClass]="{ 'show': navbarOpen }">
      <ul>
          <li><a routerLink="/main">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#">Login</a></li>
          <li><a routerLink="/admin">Admin</a></li>
      </ul>
  </nav>
  <button class="menu" type="button"
        (click)="toggleNavbar()">
        <img src="../../assets/bars-solid.svg" >
</button>
  
</header>