<div class="container mt-10">
    <section id="about" class="mt-5">
        <h3 class="main-head">About</h3>
        <p class="indent">Now a days we can see many short films in social media, youtube
          etc. The main concept of the short film makers is to create a
          recognition in the society for the people who have the skills of
          acting, singing, direction etc. Some people don’t get
          opportunities in the films though they have the talent, due to lack
          of cine background, financial status and support etc,. Then they
          will show their hidden talent to the public through short films
          and achieve their dreams of becoming an actor, director etc.
          So we “GOKARAM ENTERTAIMENTS pvt ltd”, want to create a
          platform to the short film makers to project the short films in the
          theatres. The short films can be projected in the theatres by the
          acceptance of the theatre owners in their flexible time for
          specified charges.</p>
        <p class="indent">
          Initially the duration of the short film will be maximum of 5
          minutes, as it is flexible to project the short film before the
          starting of the show, without effecting the actual timings of the
          show. So there will be no problem in the timings.
          Later if the there is positive response from the public regarding
          short films. Then we can project the short film before 15 minutes
          of the starting of the show and can charge reasonable price
          separately for short films along with the movie on the ticket by
          the choice of the public
          The people who is desirious of watching short films can enter the
          theatre before 15 minutes of actual time. And those who are not
          interested can pay the actual price of ticket and enter the theatre
          after the completion of short film, at the actual timings of the
          show
          By this we can able to provide recognition to the short film
          makers.</p>
      </section>
</div>
