
.video-cards {

    overflow-y: auto;
    max-height: 340px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;

    .performer{
        margin-bottom: 5px;
        padding: 4px;
        display: inline-block;
        border-radius: 5px;
        transition: background .1s ease-in-out;
        border-bottom: 1px solid #c8c8c8;
        display: grid;
        grid-template-columns: auto auto;

        // &:not(:nth-child(1))::before{
        //     content: '';
        //     border-bottom: 1px solid #c8c8c8;
        //     width: 90%;
        //     text-align: center;
        //     position: absolute;
        //     left: 5%;
        //     margin: -13px;
        // }
        &:hover{
            background: rgba(0,0,0,.1);
        }

        .thumbnail{
            
            display: block;
            position: relative;
            margin-left: 10px;
            width: 134px;
            float: left;

            
            img{
                width: 100%;
            }
            
            iframe{
                width: 134px;
                height: 80px;
            }

            p{
                background-color: #acacb9 !important;
                color: #222;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                font-weight: normal !important;
                font-size: 14px;
                text-indent: 0 !important;

            }
        
            em{
                color: lightgrey;
                font-size: 12px;
                float: right;
            }
        }

        .description{
            padding: 0px;
            display: inline-grid;

            p{
                padding-left: 5px;
                margin-bottom: 5px;
            }
        }

    }
}




@media only screen and (max-width: 600px) {

    .video-cards {
        display: block;

        .performer {
            display: grid;
            grid-template-columns: auto auto;
            width: 100% !important;

            .thumbnail{
                margin-left: 4px !important;
                background-color: none !important;
                width: 110px !important;

                p{
                    background-color: #acacb9 !important;
                }
            }
            
            .description{
                p{

                    margin-bottom: 5px;
                }
            }
    }
    }


}