<div class="banner">
  <div class="banner-heading">
    <p>We play your short films in your local theatres</p>
  </div>
</div>
<div class="main " ngx-auto-scroll lock-y-offset="10" observe-attributes>

  <div class="tabs">
    <a routerLinkActive="active"  routerLink="/main/culturals">CULTURAL ARTS</a>
    <a routerLinkActive="active" routerLink="/main/guest">GUESTS</a>
  </div>

  <router-outlet></router-outlet>
  

  
  <div class="contact" id="contact">
      <h3 class="white">CONTACT</h3>
      <div class="container">
          <div class="col-md-6">
              <p class="no-indent md-size">  
                  Building,<br>
                  Jubilee Enclave, HITECH City,<br>
                  Hyderabad,<br/>
                  INDIA<br/>
                  gokaramravinder1994@gmail.com
              </p>
          </div>
          <div class="col-md-6">
               <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email Id">
                <textarea placeholder="Subject"></textarea>
                <input type="submit" value="Send">
               </form>
          </div>
      </div>
      
    </div>
</div>
