<section class="section-less-padding">
  <div class="culturals">
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[1]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kuchipudi
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[2]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Baratanatyam
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[3]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kadakali
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[4]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Western
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[5]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kuchipudi
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[6]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Baratanatyam
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[7]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kadakali
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[8]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Western
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[9]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kuchipudi
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[10]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Baratanatyam
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[11]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Kadakali
            </div>
    </a>
    <a class="cultural-card" routerLinkActive="active-background" [routerLink]="[12]">
            <img src="../../assets/culturals/kuchipudi.jpg" width="100">
            <div class="caption">
                    Western
            </div>
    </a>
</div>

</section>

<router-outlet></router-outlet>