.culturals{
    padding: 10px;
    display: inline-block;

    .cultural-card{
        background: #e0e1f1;
        position: relative;
        color: #7b7878;
        text-align: center;
        margin: 5px;
        border-radius: 2px;
        display: block;
        font-size: 16px;
        float: left;
        width: 23%;
        box-shadow: 0 0 4px 0 #a5a5a5;
        transition: all .2s ease-in-out;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 80%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.3);
            transition: all .2s ease-in-out;
        }

        &:hover:before{
            opacity: 0;
        }

        &:hover{
            transform: scale(1.1);
            border-radius: 5px;
        }

        img{
            width: 100%;
            height: 89px;
            border-bottom: 4px solid #686868;

           
        }
        
        .caption{
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .cultural-card{
        width: 70px !important;
        margin: 6px !important;
        padding: 2px !important;
        overflow: hidden;
        
        &::before{
            height: 64% !important;
        }

        img{
            height: 70px !important;
        }
    }
    .culturals{
        display: grid !important;
        grid-template-columns: auto auto auto !important;
    }

}