<div class="container">
  <div class="row mx-auto">
    <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
      <p>{{errormessage}}</p>
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form class="form-signin" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="form-label-group">
              <input required type="email" ngModel name="email" id="email" class="form-control" placeholder="Email address" autofocus>
              <label for="email">Email address</label>
            </div>

            <div class="form-label-group">
              <input name="password" id="password" type="password" class="form-control" ngModel placeholder="Password">
              <label for="password">Password</label>
            </div>

            <button class="btn btn-md btn-success btn-block text-uppercase" type="submit" [disabled]="!signupForm.valid">Sign up</button>
         
          </form>
        </div>
      </div>
    </div>
  </div>
</div>