@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,500');

$light_grey:#999;
$white:#fff;
$tab_text: #363636;
$tab_text_highlight: #acacac;
